.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &__out {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: #c3996b;
  }
}
